<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.laoshengle.miniproject.impl.mapper.MiNiProjectBannerMapper">
    <resultMap id="BaseResultMap" type="cn.laoshengle.miniproject.impl.pojo.MiNiProjectBannerPojo">
        <id column="system_id" property="systemId" jdbcType="VARCHAR"/>
        <result column="banner_name" property="bannerName" jdbcType="VARCHAR"/>
        <result column="banner_url" property="bannerUrl" jdbcType="VARCHAR"/>
        <result column="enable_mark" property="enableMark" jdbcType="BIGINT"/>
        <result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="delete_mark" property="deleteMark" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        system_id,banner_name,banner_url,enable_mark,create_user,create_time,delete_mark
    </sql>

    <insert id="insert" parameterType="cn.laoshengle.miniproject.impl.pojo.MiNiProjectBannerPojo">
        insert into mini_project_banner (system_id, banner_name, banner_url, enable_mark, create_user, create_time,delete_mark )
        values ( #{systemId,jdbcType=VARCHAR}, #{bannerName,jdbcType=VARCHAR},#{bannerUrl, jdbcType=VARCHAR},#{enableMark, jdbcType=BIGINT},#{createUser,jdbcType=VARCHAR},#{createTime, jdbcType=TIMESTAMP},#{deleteMark,jdbcType=BIGINT});
    </insert>

    <insert id="insertSelective" parameterType="cn.laoshengle.miniproject.impl.pojo.MiNiProjectBannerPojo">
        insert into mini_project_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="systemId != null">
                system_id,
            </if>
            <if test="bannerName != null">
                banner_name,
            </if>
            <if test="bannerUrl != null">
                banner_url,
            </if>
            <if test="enableMark != null">
                enable_mark,
            </if>
            <if test="createUser != null">
                create_user,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleteMark != null">
                delete_mark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="systemId != null">
                #{systemId,jdbcType=VARCHAR},
            </if>
            <if test="bannerName != null">
                #{bannerName,jdbcType=VARCHAR},
            </if>
            <if test="bannerUrl != null">
                #{bannerUrl, jdbcType=VARCHAR},
            </if>
            <if test="enableMark != null">
                #{enableMark, jdbcType=BIGINT},
            </if>
            <if test="createUser != null">
                #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleteMark != null">
                #{deleteMark,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="getBannerListByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mini_project_banner
        <where>
            <if test="enableMark != null and enableMark != ''">
                AND enable_mark = #{enableMark,jdbcType=BIGINT}
            </if>
            <if test="deleteMark != null and deleteMark != ''">
                AND delete_mark = #{deleteMark,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>