<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.laoshengle.wechat.impl.mapper.WeChatMessageMapper">
    <resultMap id="BaseResultMap" type="cn.laoshengle.wechat.impl.pojo.WeChatMessagePojo">
        <id column="message_id" property="messageId" jdbcType="VARCHAR"/>
        <result column="to_user_name" property="toUserName" jdbcType="VARCHAR"/>
        <result column="from_user_name" property="fromUserName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="msg_type" property="msgType" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>
        <result column="media_id" property="mediaId" jdbcType="VARCHAR"/>
        <result column="format" property="format" jdbcType="VARCHAR"/>
        <result column="recognition" property="recognition" jdbcType="LONGVARCHAR"/>
        <result column="thumb_media_id" property="thumbMediaId" jdbcType="VARCHAR"/>
        <result column="location_X" property="locationX" jdbcType="DECIMAL"/>
        <result column="location_Y" property="locationY" jdbcType="DECIMAL"/>
        <result column="scale" property="scale" jdbcType="BIGINT"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="LONGVARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="msg_id" property="msgId" jdbcType="BIGINT"/>
        <result column="write_time" property="writeTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,to_user_name,from_user_name,create_time,msg_type,content,pic_url,media_id,format,recognition,thumb_media_id,location_X,location_Y,scale,label,title,description,url,msg_id,write_time
    </sql>

    <insert id="insert" parameterType="cn.laoshengle.wechat.impl.pojo.WeChatMessagePojo">
        insert into wechat_message (message_id, to_user_name, from_user_name, create_time, msg_type, content, pic_url,
                                    media_id, format, recognition, thumb_media_id, location_X, location_Y, scale, label,
                                    title, description, url, msg_id, write_time)
        values ( #{messageId,jdbcType=VARCHAR}, #{toUserName,jdbcType=VARCHAR}, #{fromUserName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
               , #{msgType,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, #{mediaId,jdbcType=VARCHAR}
               , #{format,jdbcType=VARCHAR}, #{recognition,jdbcType=VARCHAR}, #{thumbMediaId,jdbcType=VARCHAR}, #{locationX,jdbcType=DOUBLE}
               , #{locationY,jdbcType=DOUBLE}, #{scale,jdbcType=INTEGER}, #{label,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}
               , #{description,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{msgId,jdbcType=BIGINT}
               , #{writeTime,jdbcType=TIMESTAMP});
    </insert>

    <insert id="insertSelective" parameterType="cn.laoshengle.wechat.impl.pojo.WeChatMessagePojo">
        insert into wechat_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                message_id,
            </if>
            <if test="toUserName != null">
                to_user_name,
            </if>
            <if test="fromUserName != null">
                from_user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="msgType != null">
                msg_type,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="picUrl != null">
                pic_url,
            </if>
            <if test="mediaId != null">
                media_id,
            </if>
            <if test="format != null">
                format,
            </if>
            <if test="recognition != null">
                recognition,
            </if>
            <if test="thumbMediaId != null">
                thumb_media_id,
            </if>
            <if test="locationX != null">
                location_X,
            </if>
            <if test="locationY != null">
                location_Y,
            </if>
            <if test="scale != null">
                scale,
            </if>
            <if test="label != null">
                label,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="msgId != null">
                msg_id,
            </if>
            <if test="writeTime != null">
                write_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">
                #{messageId,jdbcType=VARCHAR},
            </if>
            <if test="toUserName != null">
                #{toUserName,jdbcType=VARCHAR},
            </if>
            <if test="fromUserName != null">
                #{fromUserName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="msgType != null">
                #{msgType,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="picUrl != null">
                #{picUrl,jdbcType=VARCHAR},
            </if>
            <if test="mediaId != null">
                #{mediaId,jdbcType=VARCHAR},
            </if>
            <if test="format != null">
                #{format,jdbcType=VARCHAR},
            </if>
            <if test="recognition != null">
                #{recognition,jdbcType=VARCHAR},
            </if>
            <if test="thumbMediaId != null">
                #{thumbMediaId,jdbcType=VARCHAR},
            </if>
            <if test="locationX != null">
                #{locationX,jdbcType=DOUBLE},
            </if>
            <if test="locationY != null">
                #{locationY,jdbcType=DOUBLE},
            </if>
            <if test="scale != null">
                #{scale,jdbcType=INTEGER},
            </if>
            <if test="label != null">
                #{label,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="msgId != null">
                #{msgId,jdbcType=BIGINT},
            </if>
            <if test="writeTime != null">
                #{writeTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </insert>
</mapper>