<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.laoshengle.local.mapper.GoodsCategoryMapper">
    <resultMap id="BaseResultMap" type="cn.laoshengle.local.pojo.GoodsCategoryPojo">
        <id column="category_id" property="categoryId" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        category_id,category_name
    </sql>

    <insert id="insert" parameterType="cn.laoshengle.local.pojo.GoodsCategoryPojo">
        insert into taobao_goods_category (category_id, category_name)
        values ( #{categoryId,jdbcType=VARCHAR}, #{categoryName,jdbcType=VARCHAR});
    </insert>

    <insert id="insertSelective" parameterType="cn.laoshengle.local.pojo.GoodsCategoryPojo">
        insert into taobao_goods_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="categoryName != null">
                category_name,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=VARCHAR},
            </if>
            <if test="categoryName != null">
                #{categoryName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <select id="getGoodsCategory" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from taobao_goods_category
    </select>

    <insert id="insertByList" parameterType="java.util.List">
        insert into taobao_goods_category (category_id, category_name)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.categoryId,jdbcType=VARCHAR}, #{item.categoryName,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>